body{
    background-color: #F5F5F5;
    padding: 1% 2%;
    font-family: 'Recursive', sans-serif;
}

.wrapper{
    display: flex;
}

.wrapper > div{
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    
}

.current_trip{
    background-color: #EBB62D;
    flex: 3;
    margin: 0 2rem 1rem 2rem;
    border-radius: 2.5%;
    padding-left: 1rem;
}

.recent_expense{
    background-color: orange;
    flex: 1;
    margin: 1rem 2rem 0 2rem;
}

.current_trip > p{
    color: #8A2C0F;
}

.current_trip > p:nth-child(1){
    font-size: x-large;
}

